<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <link rel="stylesheet" href="css/myprojects.css">
        <link rel="stylesheet" href="css/header.css">


        <title>10dem Education|My Projects</title>
    </head>

    <body>
        <header id="header">
                
            <nav id="nav-menu-container">

                <div class="d-flex justify-content-between">
                    <div class="d-flex justify-content-left">
                        <!-- <div id="logo">
                        
                            <a class="navbar-brand" href="#"><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span></a>
                            
                        </div> -->
                        <ul class="nav-menu">
                            <li><a href="/home/">Home</a></li>
                            <li><a href="#">Ongoing Project</a></li>
                              <%if(hide_manage_students==true){%>
                            <li class="menu-has-children dropdown-toggle"><a href="">Membership</a>

                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item navMember">
                                        <h5 class="innerhead">Pro</h5>
                                        <p class="innerpara">Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                        <a href="#" class="innertag">View all</a>
                                    </li>
                                    <li class="nav-item navMember">
                                        <h5 class="innerhead">Organization</h5>
                                        <p class="innerpara">Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                        <a href="#" class="innertag">View all</a>
                                    </li>
                                    <li class="nav-item navMember">
                                        <h5 class="innerhead">Non Profits</h5>
                                        <p class="innerpara">Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                        <a href="#" class="innertag">View all</a>
                                    </li>
                                </ul>
                            </li>
                            <li style="position: relative;top: -3px;"><a href="#"><i class="fas fa-crown" style="color: rgb(233, 233, 3);"></i>Try 10dem pro</a></li>

                            <l1><a href="#"><img src="img/notifications.svg"><span style="position: relative;right: 10px;bottom: 10px;padding: 2px 6px;border-radius: 50%;background: red;font-size: 14px;">2</span></a></l1>
                        </ul>
                        <%}%>
                    </div>
                    
                    <ul class="nav-menu">
                        <li><a class="btn-primary" style="border-radius: 5px;position: relative;top: -6px;padding: 4px 8px 6px 8px;" href="#"><i class="fas fa-plus" style="color: rgb(255, 255, 255);"></i>  Start Collaboration</a></li>
                        <li class="menu-has-children dropdown-toggle navprofile" style="margin-top: 0;"><a href="#" style="color: #000;background: #FFFFFF;border-radius: 50%;height: 35px;width: 35px;text-align: center;padding: 7px;"><%=firstletter%></a>
                            <ul style="right: 0 !important;left: auto !important;width: fit-content;padding-left: 1px !important;padding-right: 1px !important;padding-inline-start: 0px;background: #fff !important;">
                               
                       
                                <li><a href="#">My profile </a></li>
                                <%if(role=='educator'){%>
                                <a class="dropdown-item" href="/educatordashboard">Dashboard</a>
                                <%}else if(role=='org'){%>
                                <a class="dropdown-item" href="/orgdashboard">Dashboard</a>
                                <%}else{%>
                                
                                <%}%>
                                 <div class="dropdown-divider"></div>
                                <li><a href="/">Logout</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            
            </nav><!-- #nav-menu-container -->

        </header><!-- #header -->

        <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <img src="img/10-dem@2x.png" alt="">
                </div>

                <button type="button" id="sidebarCollapse" class="btn bg-light sidebutton">
                    <i id="collapse-icon" class="fas fa-angle-left" style="font-size: 50px;"></i>
                </button>

                <ul class="list-unstyled components">
                    <li>
                        <a href="#"><box-icon class="bx-fw" name="file"></box-icon> My Projects&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                    <li>
                        <a href="#"><box-icon class="bx-fw" name='bookmarks'></box-icon> Bookmarks&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                    <!-- <li>
                        <a href="#"><box-icon class="bx-fw" name='folder' ></box-icon>    My Folders</a>
                    </li> -->
                    <li>
                        <a href="#"><box-icon class="bx-fw" name='chat' ></box-icon> Conversations&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                    <li>
                         <%if(hide_manage_students!=true){%>
                        <a href="#"><box-icon class="bx-fw" name='user-circle' ></box-icon> Manage Students&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                     <%}%>
                    <%if(org_name!=''){%>
                        <li>
                            <a href="#"><box-icon class="bx-fw" name='book-reader'></box-icon><%=org_name%></a>
                        </li>
                        <%}%>
                </ul>
                    <!--<li>
                        <a href="#"><box-icon class="bx-fw" name='book-reader'></box-icon> ABC Organization&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>-->
                </ul>

                <div class="learnMore">
                    <img src="/../public/img/explore.svg">
                    <p>Hello John <br/> Explore <span style="color: #FD585C;cursor: pointer;">Pro account</span> with Premium features.</p>
                    <button class="btn">Learn more</button>
                </div>

            </nav>
            

            <!-- Page Content  -->
            <div id="content" class="container">

                <!-- <button type="button" id="sidebarCollapse" class="btn bg-light sidebutton">
                    <i id="collapse-icon" class="fas fa-angle-left" style="font-size: 60px;"></i>
                </button> -->
                
                <a href="#" class="float">
                    <img src="/../public/img/help.svg" class="my-float" style="width: 30px;height: 30px;" alt="">
                </a>

                <div style="margin-left: 1%;">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="#">Home</a></li>
                          <li class="breadcrumb-item active"><a href="#">My Projects</a></li>
                        </ol>
                    </nav>
                </div>

                <!-- Tabs -->
                <section id="tabs" style="margin-top: 0;">
                    
                    <div class="row">
                        <div class="col-xs-12">
                            <nav>
                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><img src="/../public/img/loading.svg" style="width: 60px;height: 60px;margin: 15px;padding: 15px;border: 3px solid #A3C0F5;border-radius: 50%;" alt="">Ongoing Project <span></span></a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-profile" aria-selected="false"><img src="/../public/img/drafts.svg" style="width: 60px;height: 60px;margin: 15px;padding: 15px;border: 3px solid #FFDB64;border-radius: 50%;" alt="">Draft<span></span></a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-contact" aria-selected="false"><img src="/../public/img/completed.svg" style="width: 60px;height: 60px;margin: 15px;padding: 15px;border: 3px solid #A8CF94;border-radius: 50%;" alt="">Completed <span></span></a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-contact" aria-selected="false"><img src="/../public/img/collaboration2.svg" style="width: 60px;height: 60px;margin: 15px;padding: 15px;border: 3px solid rgb(255, 182, 210);border-radius: 50%;" alt="">External collaboration<span></span></a>
                                </div>
                            </nav>
                            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    
                </section>

                <!-- sort button -->

                

                <div class="d-flex justify-content-between">
                    <h3>Quick access</h3>
                    <div class="dropdown" id="dropdownright">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort
                        </button>
                        <div class="dropdown-content">
                            <a class="dropdown-item" href="#">Trending projects</a>
                            <a class="dropdown-item" href="#">Most Related</a>
                            <a class="dropdown-item" href="#">Most Recent</a>
                        </div>
                    </div>
                </div>

            

                

                 <!-- Create Project -->
                    
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="card" style="box-shadow: black;">
                            <box-icon name='plus' size="xl" border='circle' id="create"></box-icon>
                            <div class="card-body" style="padding: 0rem;">
                                <a href="#"><h5 class="card-title" id="createproject" style="text-align: center;padding-bottom: 2rem;margin: 0;background: #FFFFFF 0% 0% no-repeat padding-box;border-radius: 25px;opacity: 1;color: #272727;font-weight: 500;">Start External Collaboration</h5></a>
                            </div>
                        </div>
    
                    </div>
                   
                </div>


                <h3>Ongoing Projects</h3>

                <div style="text-align: center;">
                    <img src="/../public/img/assignProject.png" style="margin: 80px auto 20px auto">
                    <p style="font-size: 28px;font-family: ProductB;color: #4A4A4A;margin: 0;">You have no projects yet</p>
                    <p>Start creating your projects</p>
                    <button class="btn savebutton" style="width: 210px;float: none;font-size: 18px;font-family: ProductR;letter-spacing: 0;">Create a new project</button>
                </div>

                <!-- ongoing projects -->
                <!-- disable below row when no ongoing projects are there -->
                <div class="row">
                    <%projects.forEach(function(document){%>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                        <div class="card">
                            <img src="/../public/img/download.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><%=document.project_title%></h5>
                                <a href="#" style="float:left;"><img src="/../public/img/topic.svg" style="width: 40px;height: 40px;margin-right: 15px;padding: 5px;background: #1553C3C2;border-radius: 50%;" alt=""></a>
                                <a href="#" style="float:left;"><img src="/../public/img/language.svg" style="width: 25px;height: 25px;margin-top: 8px;" alt=""></a>
                                <div class="dropdown" style="float:right;">
                                    <img src="/../public/img/more_ver.svg" style="width: 30px;height: 30px;" alt="">
                                    <div class="dropdown-content">
                                        <a href="/editproject/<%=document._id%>">Edit Project</a>
                                        <a href="#">Rename</a>
                                        <a href="#">Mark as complete</a>
                                        <a href="#">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                   
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                        <div class="card">
                            <img src="/../public/img/download.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><%=document.project_title%></h5>
                                <a href="#" style="float:left;"><img src="/../public/img/topic.svg" style="width: 40px;height: 40px;margin-right: 15px;padding: 5px;background: #1553C3C2;border-radius: 50%;" alt=""></a>
                                <a href="#" style="float:left;"><img src="/../public/img/group.svg" style="width: 25px;height: 25px;margin-top: 8px;" alt=""></a>
                                <div class="dropdown" style="float:right;">
                                    <img src="/../public/img/more_ver.svg" style="width: 30px;height: 30px;" alt="">
                                    <div class="dropdown-content">
                                        <a href="#">Edit Project</a>
                                        <a href="#">Rename</a>
                                        <a href="#">Mark as complete</a>
                                        <a href="#">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                        <div class="card">
                            <img src="/../public/img/download.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><%=document.project_title%></h5>
                                <a href="#" style="float:left;"><img src="/../public/img/topic.svg" style="width: 40px;height: 40px;margin-right: 15px;padding: 5px;background: #1553C3C2;border-radius: 50%;" alt=""></a>
                                <a href="#" style="float:left;"><img src="/../public/img/language.svg" style="width: 25px;height: 25px;margin-top: 8px;" alt=""></a>
                                <div class="dropdown" style="float:right;">
                                    <img src="/../public/img/more_ver.svg" style="width: 30px;height: 30px;" alt="">
                                    <div class="dropdown-content">
                                        <a href="#">Edit Project</a>
                                        <a href="#">Rename</a>
                                        <a href="#">Mark as complete</a>
                                        <a href="#">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- <div class="card col-lg-3 col-md-4 col-sm-12">
                        <img src="img/download.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Webinar</h5>
                            <a href="#" style="float:left;"><img src="img/topic.svg" style="width: 40px;height: 40px;margin-right: 15px;padding: 5px;background: #1553C3C2;border-radius: 50%;" alt=""></a>
                            <div class="dropdown" style="float:right;">
                                <img src="img/more_ver.svg" style="width: 30px;height: 30px;" alt="">
                                <div class="dropdown-content">
                                    <a href="#">Edit Project</a>
                                    <a href="#">Rename</a>
                                    <a href="#">Mark as complete</a>
                                    <a href="#">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                        <div class="card">
                            <img src="/../public/img/download.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><%=document.project_title%></h5>
                                <a href="#" style="float:left;"><img src="/../public/img/topic.svg" style="width: 40px;height: 40px;margin-right: 15px;padding: 5px;background: #1553C3C2;border-radius: 50%;" alt=""></a>
                                <div class="dropdown" style="float:right;">
                                    <img src="/../public/img/more_ver.svg" style="width: 30px;height: 30px;" alt="">
                                    <div class="dropdown-content">
                                        <a href="#">Edit Project</a>
                                        <a href="#">Rename</a>
                                        <a href="#">Mark as complete</a>
                                        <a href="#">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                <%})%>
                 <section></section>

               
            </div> 
        </div>


        <footer>
            <p>10dem © 2020</p>
        </footer>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
        <script src="https://kit.fontawesome.com/6f24662773.js" crossorigin="anonymous"></script>

        <script src="js/index.js"></script>

    </body>
</html>